nav {
    background-color: #d5b083f2;
    border-bottom: 2px solid black;
}

.logo {
    width: 55px;
}

.navBtns {
    border-radius: 10px;
    border: 2px solid black !important;
    font-weight: bold !important;
    transition: all 80ms ease-in !important;
    margin: 10px;
}

.navBtns:hover {
    transform: scale(1.1);
}

.container > button {
    border: 1px solid black !important;
} 


.brandName {
    padding-left: 20px;
    font-weight: bold;
    transition: all 80ms ease-in;
}

.brandName:hover {
    transform: scale(1.1);
}

@media (max-width: 1000px) {
    .navBtns {
        padding-left: 10px !important;
    }
}

@media (max-width: 314px) {
    .brandName {
        font-weight: normal;
        padding-left: 0;
    }
    .logo {
        width: 40px;
    }
}