.customCard {
    background-color: #d5b083f2;
}

.oglasSlika {
    height: 50vw !important;
    width: auto;
}

@media (min-width: 1000px) {
    .oglasSlika {
        height: 20vw !important;
        width: auto;
    }
}