.customCard {
    background-color: #d5b083f2;
}

.oglasSlika {
    height: 40vw !important;
    width: auto;
}

/* @media (min-width: 1000px) {
    .oglasSlika {
        height: 25vw !important;
        width: auto;
    }
} */