.customCard {
    background-color: #d5b083f2;
}

.oglasSlika {
    height: 50vw !important;
    width: auto;
}

@media (maxscreen: 1000px) {
    .oglasSlika {
        height: 80vw !important;
        width: auto;
    }
}